{% extends 'base.html' %}
{% block contents %}
    <!--Hero Section-->
    <div class="hero-section hero-background">
        <h1 class="page-title">The shop</h1>
    </div>

    <!--Navigation section-->
    <div class="container">
        <nav class="biolife-nav">
            <ul>
                <li class="nav-item"><a href="home" class="permal-link">Home</a></li>
                <li class="nav-item"><a href="#" class="permal-link">Shop</a></li>
                <!-- <li class="nav-item"><span class="current-page">Fresh Fruit</span></li> -->
            </ul>
        </nav>
    </div>

    <div class="page-contain category-page no-sidebar">
        <div class="container">
            {% if messages %}
                {% for message in messages %}
                    {% if message.tags == 'info' %}
                        <div class="alert alert-danger text-center" role="alert">
                            <b>{{message}}</b>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
            <div class="row">

                <!-- Main content -->
                <div id="main-content" class="main-content col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="product-category grid-style">
                       
                        <div id="top-functions-area" class="top-functions-area" >
                            <div class="flt-item to-left group-on-mobile">
                                <span class="flt-title">Refine</span>
                                <a href="#" class="icon-for-mobile">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </a>
                                <div class="wrap-selectors">
                                    <form action="#" name="frm-refine" method="get">
                                        <span class="title-for-mobile">Refine Products By</span>
                                        <div data-title="Price:" class="selector-item">
                                            <select name="price" class="selector">
                                                <option value="all">Price</option>
                                                <option value="class-1st">Less than 5$</option>
                                                <option value="class-2nd">$5-10$</option>
                                                <option value="class-3rd">$10-20$</option>
                                                <option value="class-4th">$20-45$</option>
                                                <option value="class-5th">$45-100$</option>
                                                <option value="class-6th">$100-150$</option>
                                                <option value="class-7th">More than 150$</option>
                                            </select>
                                        </div>
                                        <div data-title="Brand:" class="selector-item">
                                            <select name="brad" class="selector">
                                                <option value="all">Top brands</option>
                                                <option value="br2">Brand first</option>
                                                <option value="br3">Brand second</option>
                                                <option value="br4">Brand third</option>
                                                <option value="br5">Brand fourth</option>
                                                <option value="br6">Brand fiveth</option>
                                            </select>
                                        </div>
                                        <div data-title="Avalability:" class="selector-item">
                                            <select name="ability" class="selector">
                                                <option value="all">Availability</option>
                                                <option value="vl2">Availability 1</option>
                                                <option value="vl3">Availability 2</option>
                                                <option value="vl4">Availability 3</option>
                                                <option value="vl5">Availability 4</option>
                                                <option value="vl6">Availability 5</option>
                                            </select>
                                        </div>
                                        <p class="btn-for-mobile"><button type="submit" class="btn-submit">Go</button></p>
                                    </form>
                                </div>
                            </div>
                            <div class="flt-item to-right">
                                <span class="flt-title">Sort</span>
                                <div class="wrap-selectors">
                                    <div class="selector-item orderby-selector">
                                        <select name="orderby" class="orderby" aria-label="Shop order">
                                            <option value="menu_order" selected="selected">Default sorting</option>
                                            <option value="popularity">popularity</option>
                                            <option value="rating">average rating</option>
                                            <option value="date">newness</option>
                                            <option value="price">price: low to high</option>
                                            <option value="price-desc">price: high to low</option>
                                        </select>
                                    </div>
                                    <div class="selector-item viewmode-selector">
                                        <a href="category-grid-left-sidebar.html" class="viewmode grid-mode active"><i class="biolife-icon icon-grid"></i></a>
                                        <a href="category-list-left-sidebar.html" class="viewmode detail-mode"><i class="biolife-icon icon-list"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <ul class="products-list">
                                {% for data in product %}
                                <li class="product-item col-lg-3 col-md-3 col-sm-4 col-xs-6">
                                    <div class="contain-product layout-default">
                                        <div class="product-thumb">
                                            <a href="{% url 'details' data.id %}" class="link-to-product">
                                                <img src="{{ data.image.url }}" alt="dd" width="270" height="270" class="product-thumnail">
                                            </a>
                                        </div>
                                        <div class="info">
                                            <!-- <b class="categories">Fresh Fruit</b> -->
                                            <h4 class="product-title"><a href="{% url 'details' data.id %}" class="pr-name">{{ data.title }}</a></h4>
                                            <div class="price">
                                                {% if data.discount_price %}
                                                <ins><span class="price-amount"><span class="currencySymbol">Tsh</span> {{ data.price }}</span></ins>
                                                <del><span class="price-amount"><span class="currencySymbol">Tsh</span> {{ data.discount_price }}</span></del>
                                                {% else %}
                                                    <ins><span class="price-amount"><span class="currencySymbol">Tsh</span> {{ data.price }}</span></ins>
                                                {% endif %}
                                            </div>
                                            <!-- <div class="shipping-info">
                                                <p class="shipping-day">3-Day Shipping</p>
                                                <p class="for-today">Pree Pickup Today</p>
                                            </div> -->
                                            <div class="slide-down-box">
                                                <p class="message">All products are carefully selected to ensure food safety.</p>
                                                <div class="buttons">
                                                    {% if user.is_authenticated %}
                                                    <form method="post" action="{% url 'add_to_cart' %}" >
                                                        {% csrf_token %}
                                                        <button id="add" value="{{data.id}}" style="background-color: #fc9003; width: 100%;" type="submit" class="btn add-to-cart-btn btn-bold">add to cart</button>
                                                    </form>
                                                    {% else %}
                                                    <button style="background-color: #fc9003; width: 100%;" type="submit" class="btn add-to-cart-btn2 add-to-cart-btn btn-bold">add to cart</button>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>

                        <div class="biolife-panigations-block  ">
                            {% if product.has_other_pages %}
                                <ul class="pagination">
                                    {% if product.has_previous %}
                                        <li class="page-item">
                                            <a class="page-link text-dark" href="?page={{ product.previous_page_number }}" aria-label="Previous">
                                            <span><i class="fa fa-long-arrow-left" ></i></span>
                                            </a>
                                        </li>
                                    {% else %}
                                    <li class="page-item disabled text-center"></li>
                                    {% endif %}

                                    {% for i in product.paginator.page_range %}
                                        {% if product.number == i %}
                                            <li class="page-item "><a class="page-link  bg-warning text-dark" href="?page={{i}}">{{ i }}</a></li>
                                        {% else %}
                                            <li class="page-item"><a class="page-link text-dark" href="?page={{i}}">{{ i }}</a></li>
                                        {% endif %}
                                    {% endfor %}

                                    {% if product.has_next %}
                                        <li class="page-item">
                                            <a class="page-link text-dark" href="?page={{ product.next_page_number }}" aria-label="Next">
                                            <span><i class="fa fa-long-arrow-right" ></i></span>
                                            </a>
                                        </li>
                                    {% else %}
                                    <li class="page-item disabled text-center"></li>
                                    {% endif %}
                                </ul>
                            {% endif %}
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>

{% endblock contents %}