
{% if data.rating_value < 1 %}
<i class="fa fa-star" ></i>
<i class="fa fa-star" ></i>
<i class="fa fa-star" ></i>
<i class="fa fa-star" ></i>
<i class="fa fa-star" ></i>

{% elif data.rating_value < 2 %}
<i style="color: #fc9003;" class="fa fa-star" ></i>
<i class="fa fa-star" ></i>
<i class="fa fa-star" ></i>
<i class="fa fa-star" ></i>
<i class="fa fa-star" ></i>

{% elif data.rating_value < 3 %}
<i style="color: #fc9003;" class="fa fa-star" ></i>
<i style="color: #fc9003;" class="fa fa-star" ></i>
<i class="fa fa-star" ></i>
<i class="fa fa-star" ></i>
<i class="fa fa-star" ></i>

{% elif data.rating_value < 4 %}
<i style="color: #fc9003;" class="fa fa-star" ></i>
<i style="color: #fc9003;" class="fa fa-star" ></i>
<i style="color: #fc9003;" class="fa fa-star" ></i>
<i class="fa fa-star" ></i>
<i class="fa fa-star" ></i>

{% elif data.rating_value < 5 %}
<i style="color: #fc9003;" class="fa fa-star" ></i>
<i style="color: #fc9003;" class="fa fa-star" ></i>
<i style="color: #fc9003;" class="fa fa-star" ></i>
<i style="color: #fc9003;" class="fa fa-star" ></i>
<i class="fa fa-star" ></i>
{% elif data.rating_value >= 5 %}
<i style="color: #fc9003;" class="fa fa-star" ></i>
<i style="color: #fc9003;" class="fa fa-star" ></i>
<i style="color: #fc9003;" class="fa fa-star" ></i>
<i style="color: #fc9003;" class="fa fa-star" ></i>
<i style="color: #fc9003;" class="fa fa-star" ></i>
{% endif %}
<span class="text-dark ml-2" >{{data.rating_value}}</span>




<!--this file for displaying a value for each rating-->